body {
    background-color:hwb(226 88% 0%);
    color:black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.container {
    text-align:center;
    width:100%;
    max-width:900px;
}
input[type="text"] {
    width:100%;
    padding:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}
.lists-container {
    display: flex;
    justify-content: space-between;
    width: 100%
}
.todo-section,.done-section {
    width:48%
}
h1 {
    text-align:center;
    color:black;
}
form {
    text-align:center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

button.complete-btn {
    background-color: #5bc0de;
    color: white;
}

button.delete-btn {
    background-color: #d9534f;
    color: white;
}

button.complete-btn:hover {
    background-color: #31b0d5;
}

button.delete-btn:hover {
    background-color: #c9302c;
}